body {
	font-family: helvetica;
    background-image: url("");
    background-color: #FFFFFA;
}

h1 {
	color: #5CE6B8;
	font-family: Helvetica;
	text-align: center;

}

a {
	font-family: helvetica;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #5CE6B8;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: #FFCFCF;
}

#nav_ul {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	margin-bottom: 10px;
	padding: 0;
	list-style: none; }
#nav_ul li {
	float: left; 
	padding: 15px}


}
h2 {
	color:blue;
}

p {
	margin-right:auto;
}

.skills {
	color:#5CE6B8;
	margin: auto;
	
}

.skills ul p {
	color:#66C2FF;
}

.skills ul h3 {
	color:#3333CC;
	margin-top: 40px;
	margin-bottom: -10px;

}



#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }

